<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load staticfiles %}
  <link rel="stylesheet" type='text/css' href="{% static 'secret/css/style.css' %}">
  <title>Login n Reg | Success</title>
</head>
<body>
  <h1>Welcome, {{data.fname}}</h1>
  <form action="{% url 'secret:create' %}" method='post'>
  {% csrf_token %}
  <textarea name="secret" rows="4" cols="40"></textarea>
  <input type="hidden" name='author' value='{{data.id}}'>
  <input type="submit" value='Post'>
</form>
<h2>{%block title%}{% endblock %}</h2>
<div id="content">
  {% block content %}{% endblock %}
</div>
<a href="{% url 'login:logout' %}"><button>Log Out</button></a>
